/* style.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Box {
    background-color: yellow;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .content {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid red;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  #shorten_link {
    cursor: not-allowed;
  }
  